<!DOCTYPE html>
<html>
<head>
<title>Emotions</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/images/favicon_io/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/images/favicon_io/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/images/favicon_io/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', path='/images/favicon_io/site.webmanifest') }}">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('../static/images/bg-12.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Hi, {{username  }}
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" align="center">RIght Now, You Are Feeling {{emotion}},</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <h2 class="w3-large w3-center" align="center">I see you're surprised, as Willian Burroughs said, 
                                                "If you weren't surprised by your life you wouldn't be alive.
                                                Life is surprise."</h2>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    You can check me out on <a href="https://www.linkedin.com/in/oghenefejiro-esosuota/">LinkedIn</a> and <a href="https://twitter.com/ee_ephraim">Twitter</a>
  </div>
</div>

</body>
</html>
